::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(148 163 184 0.8);
}

::-webkit-scrollbar-thumb {
  /* background: rgb(30, 37, 57); */
  background-color: #4F5470;
}

.scroler {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.td-quantity .td-icon {
  display: none;
}

.td-quantity:hover .td-icon {
  display: inline-block;
}

.portal {
  position: relative;
}

.section-title .section-icon-update{
  display: none;
}

.section-title:hover .section-icon-update{
  display: inline-flex;
}